/* styling Header*/

body{
    max-width: 1200px;
    max-height: 200%;
    margin-left: 60px;
    }    
header {
    background-image: url("./image/landing.jpg");
    background-size: 100% 100%;
    padding: 0px;
    margin-bottom: 0;
    max-height: 800px;
    max-width: 1200px;
}
hr {
    color: white;
    width: 40px;
    margin-left: 70px;
}

/* position the logo */
#img-container{
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 60px; 
    font-weight: 100;
    margin-bottom: 0;
}

/* Services styling*/
.services{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}

/* styling Happyhour and Partytime */
#time{
    width: 25%;
    height: 100%;
    margin-right:-20px
}

#happyhour{
    background-color: white;
    text-align: center;
    font-size: larger;


}
#partytime{
    background-color: #F15A29;
    text-align: center;
    color:white;
    font-size: larger;

}

/* Breakfast, Lunch and Dinner */
#breakfast{ 
    background-image: url("./image/breakfast.jpg");
    flex: 1;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: -4px;
    padding-top: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}
#lunch{
    background-image: url("./image/lunch.jpg");
    flex: 1;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-top: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: rgba(231, 228, 228, 0.79); 
    background-blend-mode: overlay;
    color: white;
}

#dinner{
     background-image: url("./image/dinner1.jpg");
     flex: 1;
     text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
     padding-top: 50px;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     color: white;
}


/* styling the table section */
.section{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 50px 50px 50px 50px;

}

#first{
    border: 15px solid white;
    display: flex;
    flex-direction: column;
    width:40%;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 0px 6px gray;
    margin:40px

}

#fastfood{
    width:40%;
    height:auto;
    margin: 20px;
    padding:30px;
    text-align: left;
}

#border{
    border: 1px #F15A29 solid;
    width: 150px;
    padding: 20px;
    color:#F15A29;
    border-radius: 4px
}
#second{
     border: 15px solid white;
    display: flex;
    flex-direction: row;
    width:44%;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0px 0px 6px gray;
    margin-top:40px

}

#drinks{
    width:40%;
    height:auto;
    margin-top: 20px;
    margin-right: 30px;
    padding:30px;
    text-align: right;
}
#border2{
    border: 1px #F15A29 solid;
    width: 150px;
    padding: 20px;
    color:#F15A29;
    border-radius: 4px;
    margin-left: 220px;
}
