/* styling Header*/

body{
    max-width: 1200px;
    max-height: 200%;
    margin-left: 60px;
    }    
header {
    background-image: url("./image/landing.jpg");
    background-size: 100% 100%;
    padding: 0px;
    margin-bottom: 0;
    max-height: 800px;
    max-width: 1200px;
}
hr {
    color: white;
    width: 40px;
    margin-left: 70px;
}

/* position the logo */
#img-container{
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 60px; 
    font-weight: 100;
    margin-bottom: 0;
}

/* Services styling*/
.services{
    display: flex;
    flex-direction: row;
    margin-left: -20px;
}

/* styling Happyhour and Partytime */
#time{
    width: 25%;
    height: 100%;
    margin-right:-20px
}

#happyhour{
    background-color: white;
    text-align: center;
    font-size: larger;


}
#partytime{
    background-color: #F15A29;
    text-align: center;
    color:white;
    font-size: larger;

}


